* {
    scroll-behavior: smooth;
}

html {
    min-height: 100%;
    text-size-adjust: 100%;
    font-family: sans-serif;
}

body {
    min-width: -webkit-fill-available;
    margin: 0px;
    padding: 1%;
    float: left;
    background: url(https://s3.amazonaws.com/js30-cdn/smokey-mountains-kracked.jpg) center no-repeat fixed;
    background-size: cover;
    position: relative;
    background-color: rgb(53, 53, 53);
}

:root {
    --textShadowColor: #ffc600;
    --titleBlue: rgb(0, 0, 128);
}

h1 {
    font-weight: bolder;
    text-transform: uppercase;
    color: var(--titleBlue);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    max-width: fit-content;
    margin: 0 auto 2%;
    padding: inherit;
    -webkit-text-stroke: 1px var(--textShadowColor);
}

h2 {
    font-weight: bolder;
    text-transform: uppercase;
    color: var(--textShadowColor);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    max-width: fit-content;
    margin: 10em auto 0 auto;
    padding: inherit;
    -webkit-text-stroke: 1px var(--titleBlue);
}

audio,
canvas,
video {
    display: inline-block;
}

audio:not([controls]) {
    height: 0px;
    display: none;
}

pre {
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

img {
    border: 0px;
    min-height: 12em;
    min-width: 25vw;
    border-radius: 10px 10px 0px 0px;
}

li {
    margin: 3%;
    min-width: 6vw;
    padding: 1% 2%;
}

button,
input,
select,
textarea {
    margin: 0px;
    font-family: inherit;
    font-size: 100%;
}

button,
input {
    line-height: normal;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
}

textarea {
    vertical-align: top;
    overflow: auto;
}

table {
    border-collapse: collapse;
    border-spacing: 0px;
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
    font-size: 16px;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.bounce {
    animation-name: bounce;
}

.shake {
    animation-name: shake;
}

@-webkit-keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0px);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0px);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}

@-webkit-keyframes shake {

    0%,
    100% {
        transform: translate(0px);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translate(-10px);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translate(10px);
    }
}

@keyframes shake {

    0%,
    100% {
        transform: translate(0px);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translate(-10px);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translate(10px);
    }
}

@font-face {
    font-family: "adam.cg_proregular";
    src: url("adam.cg_pro-webfont.0089be62.woff2") format("woff2"), url("adam.cg_pro-webfont.4617c517.woff") format("woff"), url("adam.cg_pro-webfont.85a88676.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: againtsregular;
    src: url("againts-webfont.0414b971.woff2") format("woff2"), url("againts-webfont.a98b5bd4.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(254, 198, 0);
    border: 3px solid rgb(28, 28, 28);
    border-radius: 5px;
}

.video {
    width: 100%;
    background: rgb(255, 255, 255);
    flex-wrap: wrap;
    display: flex;
}

.video label[for="progress"] {
    align-items: center;
    gap: 5px;
    font-size: 11px;
    display: flex;
}

.video progress {
    width: 40px;
    color: rgb(255, 198, 0);
    height: 7px;
    appearance: none;
    background: rgb(255, 255, 255);
    border: 0.5px solid rgb(204, 204, 204);
    border-radius: 5px;
    overflow: hidden;
}

.video progress::-webkit-progress-bar {
    background: rgb(255, 255, 255);
}

.video progress::-webkit-progress-value {
    background: rgb(255, 198, 0);
}

.video progress[value="100"]::-webkit-progress-value {
    background: rgb(93, 208, 93);
}

.video .set-progress {
    border-bottom: 1px solid rgb(231, 231, 231);
    border-left: 1px solid rgb(231, 231, 231);
    align-items: center;
    padding: 0px 8px;
    display: flex;
}

.video .set-progress input[type="checkbox"] {
    margin: unset;
}

.video header.module {
    width: 100%;
    color: rgb(255, 255, 255);
    background: rgb(28, 28, 28);
    align-items: center;
    padding: 5px;
    font-size: 20px;
    display: flex;
}

.video .module-number {
    color: rgb(28, 28, 28);
    text-transform: uppercase;
    background: rgb(255, 198, 0);
    margin-left: 10px;
    margin-right: 10px;
    padding: 1px 5px;
    font-size: 12px;
    font-weight: 600;
}

.video .module-viewed {
    margin: 0px 0px 0px auto;
    display: flex;
}

.video .module-viewed .hidden {
    display: none;
}

.video .module-label {
    color: rgb(255, 255, 255);
    margin-left: 10px;
    font-size: 20px;
    display: inline-block;
}

.video .module-checkbox {
    margin: 0px 3px 0px 10px;
}

.video:last-child a {
    border-bottom: 0px;
}

.video p {
    clear: both;
    color: rgb(28, 28, 28);
    margin: 0px;
    font-size: 15px;
}

.video span.video-number {
    text-align: center;
    color: rgb(122, 122, 122);
    border-bottom: 1px solid rgb(231, 231, 231);
    border-right: 1px solid rgb(231, 231, 231);
    flex-basis: 30px;
    justify-content: center;
    align-self: stretch;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
    display: flex;
}

.video span.video-number .fa {
    color: rgb(28, 28, 28);
}

.video a {
    cursor: pointer;
    color: rgb(28, 28, 28);
    flex: 1 1 0%;
    align-items: center;
    padding: 3px;
    display: flex;
    border-bottom: 1px solid rgb(231, 231, 231) !important;
    border-left: 1px solid rgb(231, 231, 231) !important;
}

.video a.download {
    flex: 0 1 30px;
    align-items: center;
    font-size: 15px;
    display: flex;
}

.video img {
    float: left;
    width: 80px;
    height: auto;
    margin-bottom: 10px;
    margin-right: 10px;
}

.video h2 {
    letter-spacing: 1px;
    -webkit-text-fill-color: inherit;
    background: 0px 0px;
    flex: 1 1 0%;
    margin: 0px;
    font-size: 15px;
    line-height: 1.6;
}

.video h2 .duration {
    color: rgba(0, 0, 0, 0.5);
    background: rgb(239, 239, 239);
    border-radius: 4px;
    margin-left: 5px;
    padding: 2px 5px;
    font-size: 10px;
    position: relative;
    top: -3px;
}

.video-details {
    color: rgb(255, 255, 255);
    background: rgb(28, 28, 28);
}

.video-details h2 {
    font-size: 22px;
}

.video-details p {
    margin-bottom: 0px;
    font-size: 15px;
}

.player-buttons {
    text-align: center;
    background: rgb(28, 28, 28);
    border-bottom: 1px solid rgb(255, 198, 0);
    display: flex;
    overflow: hidden;
}

.player-buttons a {
    border-bottom: 0px;
}

.player-button {
    color: rgb(255, 255, 255);
    cursor: pointer;
    background: rgb(28, 28, 28);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    flex: 1 0 auto;
    margin-left: 1rem;
    padding: 0.5rem 0px;
    font-size: 15px;
    display: inline-block;
    border-bottom: 0px !important;
}

.course-details {
    background: rgba(0, 0, 0, 0.05);
    margin-top: 2rem;
    padding: 2rem;
    overflow: hidden;
}

.course-details p {
    margin: 0px;
    font-size: 1.2rem;
}

.innerWrapper {
    max-width: 1300px;
    margin: 0px auto;
}

.viewer__selector {
    flex-direction: column;
    flex: 1 1 400px;
    display: flex;
}

a.video-link {
    align-items: center;
    padding: 10px;
    display: flex;
}

.video__nowplaying {
    display: flex;
}

.video__nowplaying>* {
    padding: 10px;
}

.video__title {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    flex: 1 1 auto;
}

.video__journey {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    flex-basis: 70px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.video__description {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding: 10px;
}

.jumper {
    display: flex;
}

.jumper__button {
    text-align: left;
    border-top: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255);
    flex-wrap: wrap;
    flex: 1 1 auto;
    align-items: center;
    padding: 10px;
}

.jumper__button--next {
    text-align: right;
    border-left: 1px solid rgb(255, 255, 255);
}

.jumper__desc {
    width: 100%;
    font-size: 12px !important;
}

.jumper__title {
    color: rgb(255, 255, 255);
}

.video__caption-description {
    text-align: center;
    padding: 5px;
}

.prism-title {
    color: rgb(255, 255, 255);
    background-color: rgb(231, 0, 96);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin-bottom: 0px;
    padding: 0.4rem 2rem;
}

.prism-code {
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    margin-bottom: 2rem;
    padding: 2rem;
    font-weight: 500;
    line-height: 1.5;
}

.prism-code .highlight-line {
    background-color: rgb(10, 71, 100);
    border-left: 4px solid rgb(255, 198, 0);
    margin-left: -2rem;
    margin-right: -2rem;
    padding-left: 1.55rem;
    display: block;
}

.viewer {
    grid-template-columns: 1fr minmax(200px, 1000px) minmax(200px, 600px) 1fr;
    margin: 0px auto;
    display: grid;
}

.viewer .notes {
    min-height: 100vh;
}

.viewer .callout.error {
    z-index: 2;
    grid-area: 1 / 2 / auto / span 2;
    align-self: start;
    font-size: 12px;
    position: relative;
}

.viewer .player {
    width: 100%;
    grid-area: 1 / 2 / auto / span 2;
    align-self: start;
    top: 0px;
}

.viewer .player.player--widescreen {
    grid-column: 1 / -1;
}

.viewer .video-list {
    max-height: 800px;
    grid-area: 2 / 3 / auto / auto;
    overflow-y: scroll;
}

.viewer .notes {
    grid-area: 2 / 2 / auto / auto;
}

@media (max-width: 844px) {

    .viewer .notes,
    .viewer .video-list {
        grid-column: 1 / -1;
    }

    .viewer .video-list {
        max-height: 300px;
    }

    .viewer .notes {
        grid-row: 3 / auto;
    }
}

#vimeo-player {
    max-height: 90vh;
    margin: 0px auto;
}

.notes {
    padding: 2rem;
}

code {
    color: unset;
    background: 0px 0px;
    border: 0px;
    padding: 0px;
    font-family: "Operator Mono", "Fira Code", monospace;
}

:not(pre)>code {
    background: rgb(246, 246, 246);
    border: 1px solid rgba(0, 0, 0, 0.05);
    padding: 0px 3.5px;
}

body .grvsc-container {
    border-radius: 0px;
}

body .grvsc-code {
    width: 100%;
}

body .cobalt2 {
    --grvsc-line-highlighted-border-color: #ffc600;
    max-width: 90vw;
    overflow: auto;
}

.notes-info {
    font-size: 0.8rem;
}

.notes-info a {
    color: rgb(28, 28, 28);
    text-decoration: underline rgb(255, 198, 0);
}

.faq p {
    margin-top: 0px;
}

.faq h3 {
    margin-bottom: 0px;
    font-size: 2rem;
}

.faq a {
    border-bottom: 1px solid rgb(255, 198, 0);
}

div.countdownBanner.black-friday {
    text-shadow: rgba(0, 0, 0, 0.05) 2px 2px;
    text-align: left;
    z-index: 69;
    background-image: linear-gradient(160deg, rgb(48, 35, 174) 0%, rgb(200, 109, 215) 100%);
    border-bottom: 10px solid rgba(0, 0, 0, 0.03);
    margin-top: 0px;
    padding: 30px;
    display: none;
    position: relative;
    transform: none;
}

div.countdownBanner.black-friday.on {
    display: block;
}

div.countdownBanner.black-friday.rerecord {
    background-image: url("https://res.cloudinary.com/wesbos/image/fetch/q_auto,f_auto/https://courses.wesbos.com/images/borealis.jpg");
    border-bottom: 10px solid rgba(0, 0, 0, 0.1);
    padding: 5px;
}

div.countdownBanner.black-friday.rerecord .bf-inner {
    background: rgba(0, 0, 0, 0.17);
    padding: 5px;
}

div.countdownBanner.black-friday.newyear {
    background-image: linear-gradient(120deg, rgb(127, 0, 255) 0%, rgb(166, 77, 255) 100%);
    border-bottom: 5px solid rgba(0, 0, 0, 0.1);
}

div.countdownBanner.black-friday.newyear .bf-inner {
    background: 0px 0px;
    padding: 0px;
}

div.countdownBanner.black-friday.newyear .bf-inner a {
    text-shadow: rgba(0, 0, 0, 0.2) 2px 2px;
    border-bottom: 2px solid rgb(255, 198, 0);
    text-decoration: none;
}

div.countdownBanner.black-friday.newyear .well-actually {
    font-size: 2rem;
}

div.countdownBanner.black-friday h1,
div.countdownBanner.black-friday p,
div.countdownBanner.black-friday span {
    color: rgb(255, 255, 255);
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 40px;
    font-weight: 900;
    line-height: 1.2;
    transform: none;
}

@media (max-width: 1200px) {

    div.countdownBanner.black-friday h1,
    div.countdownBanner.black-friday p,
    div.countdownBanner.black-friday span {
        font-size: 25px;
    }
}

@media (max-width: 650px) {

    div.countdownBanner.black-friday h1,
    div.countdownBanner.black-friday p,
    div.countdownBanner.black-friday span {
        font-size: 20px;
    }
}

div.countdownBanner.black-friday h1.well-actually,
div.countdownBanner.black-friday p.well-actually,
div.countdownBanner.black-friday span.well-actually {
    font-size: 12px;
}

div.countdownBanner.black-friday p {
    padding-bottom: 7px;
    padding-left: 0px;
    padding-right: 0px;
}

div.countdownBanner.black-friday .rerecord-sub {
    font-size: 15px;
}

div.countdownBanner.black-friday .yellow {
    color: rgb(255, 198, 0);
    font-size: 20px;
}

div.countdownBanner.black-friday .bf-countdown-clock .time-left {
    justify-content: center;
    display: flex;
}

div.countdownBanner.black-friday .bf-countdown-clock .time-left>span {
    flex-direction: column;
    display: flex;
}

div.countdownBanner.black-friday .bf-countdown-clock p span {
    font-feature-settings: "tnum";
    font-variant-numeric: tabular-nums;
    background: 0px 0px;
    padding: 2px;
}

div.countdownBanner.black-friday .bf-countdown-clock .time-unit {
    font-size: 9px;
    font-weight: 500;
}

div.countdownBanner.black-friday a {
    color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 198, 0);
    padding: 0px;
    display: inline;
}

div.countdownBanner.black-friday+header {
    margin-top: 0px;
}

div.countdownBanner.black-friday span {
    text-shadow: none;
}

div.countdownBanner.black-friday small {
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-style: italic;
}

div.countdownBanner.black-friday strike {
    color: rgb(255, 255, 255);
    font-weight: 100;
}

div.countdownBanner.black-friday strong.black-friday-price {
    color: rgb(255, 198, 0);
}

div.countdownBanner.black-friday .also-on-sale {
    margin: 0px;
}

div.countdownBanner.black-friday .also-on-sale a {
    color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 198, 0);
    padding: 0px;
    font-size: 14px;
    display: inline-block;
}

.bf-details {
    flex: 1 1 0%;
    padding: 0px 20px;
}

@media (max-width: 650px) {
    .bf-details {
        margin-bottom: 10px;
        padding: 0px;
    }
}

.bf-inner {
    max-width: 1200px;
    margin: 0px auto;
    display: flex;
}

@media (max-width: 650px) {
    .bf-inner {
        flex-direction: column;
    }
}

.bf-countdown-clock {
    text-align: center;
    border-left: 2px solid rgba(0, 0, 0, 0.1);
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    display: flex;
}

@media (max-width: 650px) {
    .bf-countdown-clock {
        border-top: 2px solid rgba(0, 0, 0, 0.1);
        border-left: 0px;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding-top: 10px;
        padding-left: 0px;
    }
}

.bf-laptop {
    width: 275px;
    align-items: center;
    display: flex;
}

@media (max-width: 1200px) {
    .bf-laptop {
        width: 200px;
    }
}

@media (max-width: 850px) {
    .bf-laptop {
        display: none;
    }
}

.bf-laptop img {
    width: 100%;
}

p {
    line-height: 1.7;
}

a {
    color: rgb(28, 28, 28);
    text-decoration: none;
    max-width: 100%;
    border: none;
}

ul,
ol {
    margin: 0 0 6rem 0;
    list-style-type: square;
}

div {
    max-width: min-content;
}

.section__inner {
    max-width: 1200px;
    margin: 0px auto;
    padding: 3rem 0px;
}

.section--who {
    z-index: 2;
    background: url("https://s3.amazonaws.com/js30-cdn/snowy-mountains-kracked.jpg") 50% center / cover no-repeat;
    padding-bottom: 5rem;
    position: relative;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 5px 0px 5px, rgba(0, 0, 0, 0.05) 0px -5px 0px 5px;
}

.hero {
    text-align: center;
    color: rgb(255, 255, 255);
    perspective: 500px;
    background: url("https://s3.amazonaws.com/js30-cdn/sky--purple-kracked.jpg") center bottom / cover no-repeat rgb(36, 30, 73);
    padding-bottom: 150px;
    font-size: 15rem;
}

.hero__title {
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
    text-shadow: rgba(0, 0, 0, 0.2) 2px 2px 2px, rgba(0, 0, 0, 0.1) 0px 0px 10px;
    z-index: 1;
    border-bottom: 0px;
    font-family: againtsregular;
    font-size: 0.5em;
    font-weight: 100;
    animation-name: floating;
    animation-duration: 40s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    display: inline-block;
    position: relative;
}

.hero__title .hashtag {
    color: rgb(255, 198, 0);
    font-size: 0.5em;
}

.hero__title .num {
    color: rgb(255, 198, 0);
    font-size: 1.5em;
    position: relative;
    top: 0.07em;
}

.hero__title::before {
    z-index: -1;
    content: "_";
    color: rgb(0, 0, 0);
    font-size: 55rem;
    line-height: 20px;
    position: absolute;
    left: 0px;
    transform: translateY(-200%);
}

.hero__text {
    text-shadow: rgba(0, 0, 0, 0.2) 2px 2px;
    font-family: "adam.cg_proregular";
    font-size: 3rem;
}

.hero__text--small {
    font-size: 2rem;
}

.hero .x-up-or-get-out {
    margin: 0px 1.5rem;
}

.signup {
    z-index: 2;
    background: rgb(255, 255, 255);
    margin-top: -150px;
    position: relative;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 0px 0px 10px, rgba(0, 0, 0, 0.18) 0px 0px 10px;
}

.signup__step,
.signup__step--1 {
    display: flex;
}

.signup__step--2 {
    text-align: center;
    width: 100%;
    flex-wrap: wrap;
    display: none;
}

.signup__step--2>* {
    width: 100%;
}

.signup__step--2 p,
.signup__step--2 h3 {
    padding: 1rem;
}

.signup__section {
    flex: 1 1 0%;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.signup__section--info {
    flex: 3 1 0%;
}

.signup__section--price {
    flex-direction: column;
    display: flex;
}

.signup__section--email {
    min-width: 60%;
    border-left: 1px solid rgb(203, 203, 203);
    border-right: 1px solid rgb(203, 203, 203);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}

.signup__section--email p {
    margin: 0px;
    font-family: "adam.cg_proregular";
}

.signup__section--email h3 {
    font-size: 2rem;
}

.share {
    width: 100%;
    border-top: 1px solid rgb(203, 203, 203);
    justify-content: space-around;
    display: flex;
}

.share__option {
    min-height: 100px;
    border-right: 1px solid rgb(203, 203, 203);
    flex: 1 1 0%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.share__option:last-child {
    border-right: 0px;
}

.price {
    display: flex;
}

.price__value {
    line-height: 0.5;
}

.price__value--currency {
    font-size: 2rem;
    position: relative;
    top: 1.5rem;
}

.price__value--cents {
    position: relative;
    top: 1.5rem;
}

.price__value--dollars {
    font-size: 7rem;
    line-height: 1;
}

.list {
    margin: 0px;
    padding: 0px 0px 0px 1rem;
}

.list__item {
    margin-bottom: 0.5rem;
}

.list__item--bold {
    margin-bottom: 1rem;
    margin-left: -2rem;
    font-weight: 600;
    list-style: none;
}

.capture {
    text-align: center;
}

.capture .input-wrap {
    border: 1px solid rgb(203, 203, 203);
    flex-wrap: wrap;
    margin: 20px 0px;
    display: flex;
}

.capture__input {
    border: 0px;
    flex: 10 1 0%;
    padding: 1rem 2rem;
    line-height: 2;
}

.capture__input--submit {
    background: rgb(255, 198, 0);
    flex: 2 1 0%;
}

.capture fieldset {
    border: 0px;
}

.capture fieldset label.terms {
    font-size: 14px;
}

.capture fieldset input[type="checkbox"] {
    height: 18px;
    width: 18px;
    margin: 0px 8px 8px 0px;
}

.topographic {
    background: url("topographic-pattern.5f702fc6.png") 0px 0px / 240px;
}

.section--formation {
    text-align: center;
}

.section--formation .section__inner {
    padding-top: 0px;
}

.section--formation h2 {
    color: rgb(255, 198, 0);
    text-shadow: rgb(255, 255, 255) 2px 2px, rgb(255, 255, 255) -2px -2px, rgba(0, 0, 0, 0.3) 2px 2px 3px, rgba(0, 0, 0, 0.3) -2px -2px 3px;
    font-family: againtsregular;
    font-size: 8rem;
}

.section--formation p {
    text-align: left;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
    line-height: 3rem;
}

.notebook {
    max-width: 500px;
    z-index: 4;
    background: linear-gradient(90deg, rgb(182, 215, 232), 2px, transparent, 2px, transparent) 4rem 0px / 100% 3rem repeat scroll padding-box border-box, linear-gradient(0deg, rgb(217, 234, 243), 1px, transparent, 2px, transparent) 0px 5px rgb(255, 255, 255);
    margin: 0px auto -100px;
    padding: 20px 20px 20px 6rem;
    position: relative;
    transform: rotate(-2deg);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 6px 3px;
}

.notebook:first-child {
    background: red;
    font-weight: 600;
}

.error-display {
    color: red;
}

.descriptions {
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 12rem;
    padding-bottom: 5rem;
    display: flex;
}

.description {
    width: 48%;
    background: rgb(255, 255, 255);
    padding: 0px 3rem 3rem 2rem;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px 2px;
}

.description--wes {
    width: 100%;
    margin-top: 5rem;
}

.description--who {
    width: calc(70% - 5rem);
}

.description--free {
    width: 30%;
}

.description__title {
    text-align: center;
    width: calc(100% + 6rem);
    background: rgb(249, 249, 249);
    border-bottom: 1px solid rgb(234, 234, 234);
    margin-bottom: 3rem;
    margin-left: -3rem;
    padding: 1rem;
    font-size: 2rem;
}

.description p:first-of-type {
    margin-top: 0px;
}

.description .ðŸ‘¨ {
    float: left;
    margin-right: 20px;
}

.video-list {
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 2% 4%;
    display: flex;
    min-width: fit-content;
    max-height: 53vh;
    margin-bottom: auto;
}

.video-list__item {
    min-width: fit-content;
    max-width: fit-content;
    min-height: 83vh;
    background: rgb(255, 255, 255);
    padding: 0 2rem 2rem;
    list-style: none;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px 4px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin: 0;
}

.video-list__item.ðŸ’©ðŸ’©ðŸ’© {
    visibility: hidden;
}

.video-list__image {
    min-height: fit-content;
    min-width: fit-content;
    text-align: center;
}

.video-list__image img {
    object-fit: cover;
    height: 100%;
    margin: 0px -2rem;
    max-height: 192px;
    min-width: 433.26px;
    max-width: fit-content;
}

.video-list__title {
    margin-bottom: 2%;
    font-size: 15px;
}

.section__videos {
    background: url("https://s3.amazonaws.com/js30-cdn/smokey-mountains-kracked.jpg") 50% center / cover no-repeat fixed;
    position: relative;
}

.section__videos .title {
    z-index: 2;
    width: auto;
    background: rgb(255, 255, 255);
    margin: -7.5rem auto 3rem;
    padding: 2rem 5rem;
    font-size: 3rem;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.section__videos .title span {
    margin: 0px 2rem;
}

.tags {
    padding: 0px;
    list-style: none;
    max-width: min-content;
    display: flex;
    flex-flow: row wrap;
    min-width: max-content;
    min-height: max-content;
}

.tags__item {
    text-transform: uppercase;
    margin: 3%;
    padding: 1% 2%;
    font-size: 0.6rem;
    font-weight: 600;
    display: flex;
    min-width: fit-content;
    align-items: center;
}

.tags__item--1 {
    color: rgba(255, 255, 255, 0.6);
    background: rgb(72, 88, 182);
}

.tags__item--2 {
    color: rgba(255, 255, 255, 0.6);
    background: rgb(235, 48, 175);
}

.tags__item--3 {
    background: rgb(147, 255, 0);
}

.tags__item--4 {
    background: rgb(51, 255, 255);
}

.tags__item--5 {
    color: rgba(255, 255, 255, 0.6);
    background: rgb(70, 156, 233);
}

.tags__item--6 {
    background: #ffc600;
}

.title__center {
    text-align: center;
}

.title--faq {
    margin-bottom: 20px;
}

.highlight {
    color: rgb(229, 7, 20);
}

.section__footer .share,
.section__footer .share__option {
    border: 0px;
}

p.copyright {
    text-align: center;
    padding: 20px;
    font-size: 11px;
}

p.terms a {
    margin-left: 6px;
}

.faq {
    border-left: 2px solid rgb(255, 198, 0);
    margin-bottom: 2rem;
    padding-left: 2rem;
}

.faq h3 {
    margin-bottom: 1rem;
}

.side-by-side {
    justify-content: center;
    align-items: center;
    display: flex;
}

.promo {
    border: 10px solid rgb(255, 255, 255);
    overflow: hidden;
    transform: rotate(2.1deg);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 6px 3px;
}

.promo__video {
    width: 100%;
    max-width: 600px;
}

.captions {
    text-align: center;
    margin-bottom: 2rem;
}

.captions a {
    color: rgb(255, 255, 255);
}

.captions p {
    color: rgb(255, 255, 255);
    background: rgb(28, 28, 28);
    margin: 0px auto;
    padding: 5px 10px;
    display: inline-block;
}

.button {
    font-size: 1.3rem;
    text-decoration: none;
}

.button__login {
    color: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.2);
    border: 0px;
    border-radius: 5px;
    padding: 5px 1rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
}

@media (max-width: 1200px) {
    .section__inner {
        width: 100%;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media (max-width: 1000px) {
    .hero__title {
        font-size: 10rem;
    }

    .hero__title::before {
        display: none;
    }
}

@media (max-width: 800px) {
    .hero {
        font-size: inherit;
    }

    .side-by-side {
        flex-wrap: wrap;
    }

    .video-list__item {
        width: calc(33% - 2rem);
    }

    .capture {
        width: 100%;
        min-width: 0px;
    }

    .signup,
    .signup__step {
        flex-wrap: wrap;
    }

    .signup__section--email {
        border-top: 1px solid rgb(203, 203, 203);
        flex-basis: 100%;
        order: 1;
    }

    .description {
        width: 100%;
        margin-top: 0px;
        margin-bottom: 3rem;
    }

    .share {
        flex-wrap: wrap;
    }

    .share__option {
        border-bottom: 1px solid rgb(203, 203, 203);
        flex-basis: 50%;
    }
}

@media (max-width: 600px) {
    .video-list__item {
        width: 100%;
    }

    .hero__title {
        font-size: 6rem;
    }
}

@media (max-width: 550px) {
    .share__option {
        height: auto;
        min-height: 0px;
        flex-basis: 100%;
        padding: 10px;
    }
}

@media (max-width: 430px) {
    .capture {
        flex-wrap: wrap;
    }

    .capture__input {
        text-align: center;
        flex-basis: 100%;
    }
}

@media (max-width: 360px) {
    .hero__title {
        font-size: 4rem;
    }

    .hero__text {
        margin: 2rem 0px;
    }
}

@-webkit-keyframes floating {
    0% {
        text-shadow: rgba(0, 0, 0, 0.15) 10px 10px 3px;
        transform: translate(0px) rotateY(-12deg);
    }

    65% {
        text-shadow: rgba(0, 0, 0, 0.15) -10px -10px 3px;
        transform: translateY(15px) rotateY(10deg) rotateX(10deg);
    }

    100% {
        text-shadow: rgba(0, 0, 0, 0.15) 10px 10px 3px;
        transform: translate(0px) rotateY(-12deg);
    }
}

@keyframes floating {
    0% {
        text-shadow: rgba(0, 0, 0, 0.15) 10px 10px 3px;
        transform: translate(0px) rotateY(-12deg);
    }

    65% {
        text-shadow: rgba(0, 0, 0, 0.15) -10px -10px 3px;
        transform: translateY(15px) rotateY(10deg) rotateX(10deg);
    }

    100% {
        text-shadow: rgba(0, 0, 0, 0.15) 10px 10px 3px;
        transform: translate(0px) rotateY(-12deg);
    }
}

.explanationButton {
    display: inline-block;
    padding: 3%;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 15px;
    box-shadow: rgb(153, 153, 153) 0px 9px;
    width: fit-content;
    margin: 2% auto 0;
    background-color: var(--textShadowColor);
    color: rgb(0, 0, 128);
    font-weight: 700;
    font-family: inherit;
}

.explanationButton:hover {
    background-color: rgb(76, 175, 80);
    color: #fff;
}

.explanationButton:active {
    background-color: rgb(62, 142, 65);
    box-shadow: rgb(102, 102, 102) 0px 5px;
    transform: translateY(4px);
    color: rgb(255, 255, 255);
}

.tutorialContainer {
    display: flex;
    min-width: 88vw;
    max-width: fit-content;
    max-height: fit-content;
    margin: 0 auto;
    flex-direction: column;
}

.newSection,
.oldSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.test {
    transform: scale(0.8);
    transition: 0.4s ease-in-out;
    overflow: hidden;
}

.test:hover {
    z-index: 2;
    transform: scale(0.9);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 40px 40px;
    cursor: pointer;
}

.test:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 2;
    transition: 0.5s;
    opacity: 0;
    border-radius: 10px;
}

.test:hover:before, .test:focus:before {
    opacity: 1;
}

.test:hover .containerInfo, .video-list__item:focus .containerInfo{
    opacity: 1;
    transform: translateY(-90vh);
  }
  
  .containerInfo {
    min-height: 100%;
    min-width: 19.2737rem;
    position: absolute;
    z-index: 3;
    color: white;
    opacity: 0;
    transform: translateY(0);
    transition: 0.5s;
    padding: 5% 10%;
  }

  .h4Title {
    font-weight: 600;
    color: white;
  }

  .h5Title {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  .par {
    color: white;
    min-width: 15.625rem;
  }
  
  .par p {
    color: white;
    font-size: .85rem;
    margin: 0;
    min-width: 20vw;
  }

@media (max-width: 1279px) {
    .tutorialContainer {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
    }

    img {
        min-width: 64vw;
    }

    .explanationButton {
        margin-top: 0px;
    }
}

#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 10%;
    right: 5%;
    z-index: 99;
    border: 2px solid var(--titleBlue);
    background-color: grey;
    color: white;
    cursor: pointer;
    padding: 1%;
    border-radius: 50%;
}

.up-arrow {
    stroke: white;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    width: 24px;
    height: 24px;
    fill: none;
}

#scrollToTopBtn:hover {
    border: 2px solid var(--textShadowColor);
    background-color: var(--titleBlue);
    color: white;
}

.newChallengesTitle {
    margin-top: 2em;
}